input {
    width: 4%;
    margin-right: 40px;
}

input[type="text"] {
    font-size:25px;
}

div[class="flex-container"]{
    padding-right: 20px;
}

h1 {
    background-color: royalblue;
}

body{
    background-color: gray;
}

li{
    color: black;
}